// variables:
:root {
  --baseImg: 'images/black-cat.jpg';
  --size: 50px;
  --lazerThickness: 10px;
  --lazerLength: 400px;
  --lazerColor: #ff00ff;
  --lazerOneX: 440px;
  --lazerOneY: 180px;
  --lazerOneRotate: rotate(120deg);
  --lazerTwoX: 520px;
  --lazerTwoY: 180px;
  --lazerTwoRotate: rotate(125deg);
  --targetX: 0px;
  --targetY: 0px;
}

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

* {
  padding: 0;
  margin: 0;
  //border: 2px dotted magenta;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  font-size: 20px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 300px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: $accent-color;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $divider-color;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $accent-color;
}



button {
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:0;
  border-radius: 2px;
  background: $accent-color;
  color:#fff;
  outline:0;
}


#image {
  font-size: var(--size);
  display: inline-block;
  border: 2px solid blue;
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-top:20px;
  margin-left: 20px;
}

.lazer {
  display: none;
  background-color: var(--lazerColor); /*lighten(var(--lazerColor), 32%) */
  height: var(--lazerThickness);
  width: var(--lazerLength);
  position: absolute;
  transform-origin: 0 0;
  border-radius: 0 100%;
  box-shadow: 0 0 8px 4px var(--lazerColor), 0 0 12px 11px var(--lazerColor); /*0 0 8px 4px lighten(var(--lazerColor), 25%) */
  opacity: 0.8;

  &.one {
    left: var(--lazerOneX);
    top: var(--lazerOneY);
    transform: var(--lazerOneRotate);
  }

  &.two {
    left: var(--lazerTwoX);
    top: var(--lazerTwoY);
    transform: var(--lazerTwoRotate);
  }
}


#lazer-props {
  display: inline-block;
  vertical-align: top;
}

.starting-point {
  font-size: 60px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid red;
  border-radius: 100%;
  position: absolute;
  background-color: transparent;
  &::before {
    position: absolute;
    font-size: 60px;
    color: red;
    content: "+";
    display: block;
    top: -10px;
    left: -7px;
  }
}

.lazer-target {
  @extend .starting-point;
  border: 2px solid blue;
  color: blue;
}

.warning {
  display: block;
  height: 50px;
  color: red;
}
