* {
  padding: 0;
  margin: 0;
  //border: 2px dotted magenta;
}

// variables:
:root {
  --baseImg: 'images/black-cat.jpg';
  --size: 50px;
  --lazerThickness: 10px;
  --lazerLength: 400px;
  --lazerColor: #ff00ff;
}

#image {
  font-size: var(--size);
  display: inline-block;
  border: 2px solid blue;
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-top:100px;
  margin-left: 100px;
}

.lazer {
  display: inline-block;
  background-color: var(--lazerColor); /*lighten(var(--lazerColor), 32%) */
  height: var(--lazerThickness);
  width: var(--lazerLength);
  position: absolute;
  transform-origin: 0 50%;
  border-radius: 100%;
  box-shadow: 0 0 8px 4px var(--lazerColor), 0 0 12px 11px var(--lazerColor); /*0 0 8px 4px lighten(var(--lazerColor), 25%) */
  opacity: 0.8;

  &.one {
    top: 180px;
    left: 520px;
    transform: rotate(125deg);
  }

  &.two {
    top: 180px;
    left: 450px;
    transform: rotate(120deg);
  }
}


#lazer-props {
  display: inline-block;
  vertical-align: top;
}

.target {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid red;
  border-radius: 100%;
  position: absolute;
}
